@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Regular.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Regular.woff') format('woff'),
        url('../fonts/RobotoSlab-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "Roboto";
    margin: 0;
}
h1{
    font-family: "Roboto-Slab";
}
input,
textarea,
select {
    width: 100%;
    box-sizing: border-box;
    outline: none;
}

hr {
    width: 100%;
    margin: 50px 0px;
    border: none;
    border-top: 1px solid #b3b3b3;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 20px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #b3b3b3;
    font-weight: 700;
    font-family: "Roboto";
}

textarea {
    padding: 17px;
    font-family: "Roboto";
}

table td input::placeholder {
    font-size: 14px;
    color: #b3b3b3;
    font-weight: 400;
}

input,
select {
    box-sizing: border-box;
    font-size: 14px;
    padding: 12px 13px;
    border-radius: 3px;
    border: 1px solid #cccccc;
}
input:focus,
textarea:focus{
    border: 1px solid #3e6aff;
    box-shadow: 0 0 2.5px rgba(62,106,255,0.55);
}
textarea {
    box-sizing: border-box;
    resize: vertical;
    border: 1px solid #cccccc;
    min-height: 131px;
    max-height: 200px;
}

table {
    width: 100%;
}

.wrapper {
    padding-bottom: 144px;
    max-width: 960px;
    margin: 0 auto;
}

.display-flex {
    display: flex;
}

.first-and-sixth-forms {
    justify-content: space-between;
}

.first-form {
    flex-direction: column;
    max-width: 331px;
    width: 100%;
}


.first-form input::placeholder,
.first-form textarea::placeholder {
    color: #b3b3b3;
    font-size: 14px;
    font-family: "Roboto";
}

.first-form form>div {
    margin-bottom: 9px;
}

.first-form input:focus {
    border: 1px solid #3e6aff;
    box-shadow: 0 0 2.5px rgba(62, 106, 255, 0.55);
}

.first-form button {
    width: 100%;
    padding: 13px 0px;
    border-radius: 3px;
    background-color: #12d661;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: all 1s ease;
}

.first-form button:hover {
    background-color: #07be51;
    box-shadow: 0px 0px 2px 2.5px rgba(8, 118, 52, 0.35);
}
.strelochka select{
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
}
.strelochka{
    position: relative;
}
.strelochka:before{
    content: "";
    position: absolute;
    top: 40%;
    right: 10px;
    border: 5px solid transparent;
    border-top-color: #000 ;
    /* transform: translateY(-50%); */
    z-index: -1;
}
.fixed{
    position: fixed;
    right: 10.7%;
    z-index: 5;
}
.chrestick{
    position: absolute;
    top: 25px;
    right: 25px;
    width: 10px;
    height: 10px;
    cursor: pointer;
}
.chrestick::before,
.chrestick::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: -10px;
    left: 0;
    transform: rotate(45deg);
}
.chrestick::before{
    left: 70%;
    border-left: 2px solid #949494 ;
}
.chrestick::after{
    transform: rotate(-45deg);
    border-right: 2px solid #949494 ;
}
.lol{
    max-height: 44px;
    display: none;
    padding: 15px 30px;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    background-color: #07be51;
    box-shadow: 0px 2px 2.5px rgba(8,118,52,0.35);
}
.block{
    flex-direction: column;
}
.sixth-form {
    position: relative;
    flex-direction: column;
    row-gap: 13px;
    padding: 14px 28.5px;
    border-radius: 5px;
    background-color: #fafafa;
    border: 1px solid #e6e6e6;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.15);
}
.sixth-form label{
    font-size: 13px;
    color: #b3b3b3;
    font-weight: 400;
}
.sixth-form p{
    margin: 0;
}
.sixth-form a{
    font-size: 13px;
    color: #3e6aff;
    font-weight: 400;
    text-decoration: none;
}
.sixth-form a:hover{
    text-decoration: underline;
}
.sixth-form button{
    width: 100%;
    padding: 16px 100px;
    border-radius: 3px;
    background-color: #12d661;
    border: none;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;
    transition: all 1s ease-out;
}
.sixth-form button:hover{
    box-shadow: 0px 2px 2.5px rgba(8,118,52,0.35);
    background-color: #07be51;
}
label.remember {
    font-size: 13px;
    color: #1f222c;
    font-weight: 400;
}
.second-form{
    justify-content: space-between;
}
.second-form p {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
}

.second-form div {
    min-width: 250px;
}

.second-form form {
    column-gap: 51px;
}

.second-form div:first-child {
    min-width: 111px;
}

.second-form-radio input,
.second-form-checked input,
.kovbasa input,
.gender input,
.gender-table input,
.oplata {
    display: none;
}

.second-form-radio input+label,
.second-form-checked input+label,
.kovbasa input+label,
.gender input+label,
.oplata+label {
    position: relative;
    padding-left: 30px;
}

.gender-table input+label {
    position: relative;
    padding-left: 23px;
}

.second-form-radio input+label:before,
.gender-table input+label:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.second-form-radio input:checked+label:before,
.gender-table input:checked+label:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #3e6aff;
    border-radius: 50%;
}

.second-form-radio input:checked+label::after,
.gender-table input:checked+label::after {
    content: "";
    position: absolute;
    top: 3.8px;
    left: 4px;
    width: 9px;
    height: 9px;
    background-color: #3e6aff;
    border-radius: 50%;
    box-sizing: border-box;
}

.second-form-checked input+label::before,
.oplata+label::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 17px;
    height: 17px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    border-radius: 3px;
}

.second-form-checked input:checked+label::before,
.oplata:checked+label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    border: 1px solid #3e6aff;
    border-radius: 3px;
}

.second-form-checked input:checked+label::after,
.oplata:checked+label::after {
    content: "";
    position: absolute;
    top: 3.5px;
    left: 6.5px;
    width: 4px;
    height: 7px;
    border-top: 2px solid #3e6aff;
    border-left: 2px solid #3e6aff;
    transform: rotate(-135deg);
}

.second-form-second {
    padding: 25px 21px;
    width: 100%;
    max-width: 473px;
    max-height: 114px;
    border-radius: 3px;
    background-color: #f7f7f7;
    border: 1px solid #e5e5e5;
}
.second-form-checked p{
    font-size: 14px;
    color: #b3b3b3;
    font-weight: 700;
}
.second-form-checked {
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
    column-gap: 24px;
}
.disabled input+label::before{
    background-color: #f7f7f7;
    border: 1px solid #e5e5e5;
}
.disabled label{
    font-size: 14px;
    color: #b3b3b3;
    font-weight: 400;
}
.data-for-column-gap {
    column-gap: 36px;
}
.data-for-column-gap p{
    font-size: 14px;
    color: #b3b3b3;
    font-weight: 700;
}

.align-items {
    align-items: center;
}

.date {
    width: 149px;
    max-height: 42px;
}

.kovbasa input+label {
    padding-left: 65px;
}

.kovbasa input+label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 25px;
    border-radius: 12px;
    background-color: #cfcfd1;
}

.kovbasa input+label::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 21px;
    height: 21px;
    border-radius: 10px;
    background-color: #ffffff;
}

.kovbasa input:checked+label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 25px;
    border-radius: 12px;
    background-color: #3e6aff;
}

.kovbasa input:checked+label::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 22px;
    width: 21px;
    height: 21px;
    border-radius: 10px;
    background-color: #ffffff;
}

.column-gap-for-kolbasa {
    column-gap: 300px;
    align-items: center;
}

.man {
    padding-top: 34px;
    margin-bottom: 60px;
}

.man input+label,
.woman input+label {
    padding-left: 86px;
}

.man input+label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0px;
    width: 71px;
    height: 71px;
    background: url(../image/man.svg);
    transform: translateY(-50%);
}

.woman input+label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0px;
    width: 71px;
    height: 71px;
    background: url(../image/woman.svg);
    transform: translateY(-50%);
}

.man input:checked+label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0px;
    width: 70px;
    height: 70px;
    background: url(../image/cvetasta-man.svg);
    transform: translateY(-50%);
}

.woman input:checked+label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0px;
    width: 70px;
    height: 70px;
    background: url(../image/cvetasta-woman.svg);
    transform: translateY(-50%);
}

.polya {
    font-size: 18px;
    color: #1f222c;
    font-weight: 700;
    padding: 25px 0px;
}

.gender-table {
    column-gap: 20px;
    width: 100%;
    font-size: 14px;
    color: #1f222c;
}

.gender-table input+label {
    padding-left: -9px;
}

.form-table {
    width: 100%;
    max-width: 504px;
}

.form-table input:focus,
.form-table textarea:focus {
    border: 1px solid #3e6aff;
    box-shadow: 0 0 2.5px rgba(62, 106, 255, 0.55);
}
.form-table tbody {
    width: 100%;
    justify-content: space-between;
}

.form-table tr {
    flex-direction: column;
    align-items: flex-start;
}

.form-table tr:first-child {
    max-width: 160px;
    padding-top: 12px;
    row-gap: 27px;
}

.form-table tr:last-child {
    row-gap: 10px;
}

.form-table td {
    width: 341px;
}
.risochka{
    position: relative;
}
.risochka::before{
    content: "";
    position: absolute;
    top: 12px;
    right: 29px;
    width: 1px;
    height: 19px;
    background-color: #ccc;
}
.form-table button {
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    border: none;
    text-align: center;
    padding: 12px 36px;
    border-radius: 3px;
    background-color: #3e6aff;
    cursor: pointer;
    transition: all 1s ease;
}

.form-table tr .register:last-child button {
    width: 100%;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    border: none;
    text-align: center;
    padding: 12px 12px;
    border-radius: 3px;
    background-color: #12d661;
    cursor: pointer;
    transition: all 1s ease;
}

.form-table button:hover {
    box-shadow: 0px 2px 2.5px rgba(15, 40, 126, 0.35);
    background-color: #2857f4;
}

.form-table tr .register:last-child button:hover {
    background-color: #07be51;
    box-shadow: 0px 2px 2.5px rgba(8, 118, 52, 0.35);
}

.table-form-form {
    border-collapse: collapse;
    max-width: 681px;
    width: 100%;
    font-size: 13px;
    color: #b3b3b3;
    font-weight: 400;
}

.form-table-second td {
    max-width: 221px;
    padding-right: 7px;
}

.form-table-second input {
    width: 100%;
}

.form-table-third tr:nth-child(2) td:first-child {
    width: 221px;
    padding-right: 7px;
}

.form-table-third tr:nth-child(2) td:last-child {
    max-width: 451px;
}
.table-form-fourth{
    border-collapse: collapse;
    margin-right: 7px;
}
.reset {
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #85868d;
    font-size: 14px;
    color: #6e6f77;
    font-weight: 700;
    text-align: center;
    padding: 14px 26px;
    cursor: pointer;
    transition: all 1s ease;
}

.reset:hover {
    background-color: #85868d;
    color: #ffffff;
}

.submit {
    background-color: #12d661;
    border-radius: 3px;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    padding: 14px 27px;
    border: none;
    cursor: pointer;
    transition: all 1s ease;
}

.submit:hover {
    background-color: #07be51;
    box-shadow: 0px 2px 2.5px rgba(8, 118, 52, 0.35);
}

.buttons {
    justify-content: space-between;
}
.obmezhenya{
    margin: 25px 0;
}